<div class="modal" id="modal-help">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Hi. How can we help?
                </h4>
            </div>

            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">User Guide</h4>
                                <p class="card-text">Get to know the basics, and a few helpful tips & tricks along the way!</p>
                                <a href="#">
                                    User Support
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Developer Tutorials</h4>
                                    <p class="card-text">Get to know the basics, and a few helpful tips & tricks along the way!</p>
                                    <a href="#">
                                        User Support
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">API Documentation</h4>
                                    <p class="card-text">Learn how to build addons and develop websites and applications with Pyro.</p>
                                    <a href="#">
                                        Developer Support
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
