<section id="menu">

    <div class="section">
        <a href="#" class="active">Pages</a>
        <a href="#">Types</a>
        <a href="#">Fields</a>
    </div>

    <br>

    <div class="description">
        This is the description right here.
    </div>

    <ul class="buttons">
        <li>
            <a href="#" target="_blank" class="btn btn-success">New Page</a>
        </li>
    </ul>

</section>
