<ul id="menu">
    <li>
        <a href="{{ url('/') }}" target="_blank" class="btn btn-secondary-outline btn-sm">View Site</a>
    </li>
    <li class="toggle">
        <a href="#">
            {{ icon('th') }}
        </a>
    </li>
</ul>
