<section id="navigation">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Another link</a>
        </li>
    </ul>

    <ul class="secondary">
        <li>
            <a href="{{ url('/') }}" target="_blank" class="btn btn-info btn-sm">View Site</a>
        </li>
        <li class="toggle">
            <a href="#">
                {{ icon('th') }}
            </a>
        </li>
    </ul>

</section>
