<div id="navigation">
    <ul class="nav nav-tabs">
        {% for module in template.addons.modules.navigation().slice(0, 5) %}
            <li class="nav-item">
                <a class="nav-link {{ module.active ? 'active' }}" href="{{ url_to('admin/' ~ module.slug) }}">
                    {{ trans(module.title) }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
