.form {

    .field-group {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray-lighter;

        .form-group {
            margin-bottom: 0;

            &.has-info {
                .c-checkbox {
                    color: $brand-info;
                }
            }

            &.has-danger {
                .c-checkbox {
                    color: $brand-danger;
                }
            }

            &.has-success {
                .c-checkbox {
                    color: $brand-success;
                }
            }

            &.has-warning {
                .c-checkbox {
                    color: $brand-warning;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .controls {
        &.top {
            &.affix {
                top: 0;
                left: 0;
                right: 0;
                position: fixed;
                border-radius: 0;
                z-index: $zindex-modal - 100;
                border-width: 0 0 1px 0;

                + div {
                    margin-top: 92px;
                }
            }
        }

        .actions {
            display: inline-block;
        }

        .buttons {
            float: right;
        }
    }

    label {

        &.control-label {
            font-weight: bold;
        }

        .required {
            color: $brand-danger;
        }
    }
}
