#footer {
    padding: 1em 3em;
    background: darken($gray-lighter, 5%);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: $gray-light;
            display: inline-block;
            font-size: $font-size-sm;

            &:not(:last-child) {
                margin-right: 0.75em;
            }

            &.logo {
                margin-right: 2em;

                img {
                    margin-top: -0.5em;
                    display: inline-block;
                }
            }

            &.footprint {
                span {
                    color: darken($gray-lighter, 15%);
                }
            }

            &.help {
                float: right;
                margin-top: -0.25em;
            }
        }
    }
}
