#menu {
    padding: 0;
    float: right;
    margin-top: 1em;
    list-style: none;
    margin-right: 1.5em;

    li {
        display: inline-block;
        color: lighten($gray-light, 5%);

        &:not(:first-of-type) {
            margin-left: 1em;
        }

        a {
            //color: lighten($gray-light, 5%);
        }
    }
}
