#menu {
    padding: 0;
    float: right;
    margin-top: 1em;
    list-style: none;
    margin-right: 1.5em;

    li {
        display: inline-block;

        &:not(:first-of-type) {
            margin-left: 1em;
        }

        &.toggle {
            a {
                i {
                    line-height: 0;
                    font-size: 1.75em;
                    color: $gray-light;
                }
            }
        }
    }
}
