#navigation {
    margin-top: 1.5em;
    margin-left: 1.5em;
    display: inline-block;

    .nav {
        border-bottom: none;

        li {
            a {
                border: none;
                color: $gray-light;

                &:hover {
                    color: lighten($gray-light, 10%);
                }

                &.active {
                    color: $white;
                    background: $gray-dark;
                }
            }
        }
    }
}
