<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

{% include "theme::partials/push" %}
{% include "theme::partials/brand" %}
{% include "theme::partials/navbar" %}
{% include "theme::partials/header" %}

<main id="main">

    {% include "theme::partials/messages" %}

    {% if template.breadcrumbs %}
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            {% for breadcrumb, href in template.breadcrumbs %}
                <li class="{{ loop.last ? 'active' }}">
                    <a href="{{ href }}">
                        {{ trans(breadcrumb) }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {{ block('content') }}

</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/modals" %}
{% include "theme::partials/js" %}

</body>
</html>
