<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

{% include "theme::partials/brand" %}
{% include "theme::partials/navbar" %}
{% include "theme::partials/header" %}

<main id="main">

    {% include "theme::partials/messages" %}

    {{ block('content') }}

</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/modals" %}
{% include "theme::partials/js" %}

</body>
</html>
