<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login">

{% include "theme::partials/messages" %}

{{ block('content') }}

{% include "theme::partials/js" %}

</body>
</html>
